<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-button (click)="addGeofence()" color="primary" expand="block">
            Añadir
        </ion-button>

        <ion-button (click)="findAll()" color="primary" expand="block">
            Buscar
        </ion-button>

        <ion-button (click)="otro()" color="primary" expand="block">
            Toast
        </ion-button>
    </div>
</ion-content>