page-tab2 {
    ion-content {
        background-color: #000000 !important;
    }
    .update-nag {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        text-align: left;
        background-color: #fff;
        height: 30px;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
        margin-bottom: 10px;
        border-radius: 2px;
    }
    .update-nag>.update-split {
        background: #337ab7;
        width: 33px;
        float: left;
        color: #fff!important;
        height: 100%;
        text-align: center;
    }
    .update-nag>.update-split>.glyphicon {
        position: relative;
        top: calc(50% - 9px)!important;
        /* 50% - 3/4 of icon height */
    }
    .update-nag>.update-split.update-danger {
        background: #d9534f!important;
        border-radius: 2px;
    }
    .update-nag>.update-text {
        line-height: 19px;
        padding-top: 11px;
        padding-left: 45px;
        padding-right: 20px;
    }
}