<ion-header>

    <ion-navbar color="dark">
        <ion-title text-center>{{personaje.name}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding text-center>
    <ion-card color="dark">

        <div class="iframe-16-9" *ngIf="trustedVideoUrl">
            <iframe [src]="trustedVideoUrl ? trustedVideoUrl : null" (load)="trustedVideoUrl ? handleIFrameLoadEvent() : null" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen></iframe>
        </div>
        <img *ngIf="!trustedVideoUrl" [src]="personaje.url_imagen" />

        <ion-card-content text-left>
            <div style="text-align: justify;">
                <p>{{personaje.description | mostrarDescripcion}}</p>
            </div>
        </ion-card-content>

        <ion-row>

            <ion-col center text-left>

                <ion-badge color="--app" item-end>
                    {{personaje.sala_id[1] | mostrarSalaFecha: personaje.address_id[1] }}
                </ion-badge>

            </ion-col>

            <ion-col center text-right>

                <ion-badge color="--app" item-end>
                    {{personaje.clase | mostrarAtp}}
                </ion-badge>

            </ion-col>

        </ion-row>
    </ion-card>
    <div>

    </div>
    <br>

    <div>
        <button ion-button block small color="--app">
                Funciones                        
            </button>
        <ion-card color="dark">
            <ion-list>
                <button color="dark" item-start *ngFor="let item of horarios_global" ion-item>
                    <ion-icon name="time" item-start></ion-icon>
                    
                    <ion-note item-start>
                        {{item}}
                    </ion-note>
                    
                </button>
            </ion-list>

        </ion-card>
    </div>


</ion-content>